{% if sensors_exporter_gpio_devices_config is defined -%}
gpio_devices:
  {{ sensors_exporter_gpio_devices_config | indent(width=2, first=False) }}
{%- endif %}
{% if sensors_exporter_ads_devices_config is defined -%}
ads_devices:
  {{ sensors_exporter_ads_devices_config | indent(width=2, first=False) }}
{%- endif %}
